.MobileCompanyClients-head {
  padding: 12px 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  font-weight: 800;
  border-top: solid black 2px;
  border-bottom: solid black 2px;
}